<h1>Balls</h1>
<% if session[:user_id]%>
 <p> Current User: <%= User.find(session[:user_id]).username %> </p>
<% end %>

<p>something on it</p>

<% if !session[:user_id]  %>
  <%= link_to "Sign in", new_session_path %>
  <%= link_to "Create Account", new_user_path %>

<% else %>
  <%= link_to "My Profile", user_path(session[:user_id]) %>
<% end %>
